.container {
  position: absolute;
  border-radius: 40px;
  background: linear-gradient(to right, rgba(148, 175, 255, 0.1), rgba(78, 100, 249, 0.1));
}
.search {
  padding-top: 55px;
  padding-left: 97px;
  width: 850px;
  height: 41%;
  z-index: 1;
  top: 132px;
  right: -143px;
}
.carousel {
  padding-top: 60px;
  padding-left: 97px;
  width: 850px;
  height: 800px;
  z-index: 1;
  top: -154px;
  right: -225px;
}
