@import "./../../styles/_colors.scss";

.page {
  display: inline-block;
  background-color: none;
  border: none;
  cursor: default;
  font-size: 18px;
  color: #686868;
  //   margin-right: 9px;
  padding: 0 5px;
}
.page:hover {
  border-bottom: 2px solid #686868;
}
.active {
  font-weight: 700;
  color: black;
  border-bottom: 2px solid $yellow;
}
