@import "./../../../styles/_colors.scss";

.navHeader {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  gap: 57px;
}
.navHeaderItem a {
  color: $grey;
  text-decoration: none;
  padding-bottom: 9px;
}
.navHeaderItem a:hover {
  border-bottom: 3px solid $yellow;
  color: $black;
}
.locationIcon * {
  fill: black;
}
