@import "./../../../styles/_colors.scss";

.siteMapPanelContainer {
  max-width: 1280px;
  padding: 0 10px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.navHeader {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  gap: 57px;
}
.navHeaderItem a {
  color: $grey;
  text-decoration: none;
  padding-bottom: 12px;
  cursor: default;
}
.navHeaderItem a:hover {
  border-bottom: 3px solid $yellow;
  color: $black;
}
.locationIcon * {
  fill: black;
}
