@import "./../../styles/_colors.scss";

.link {
  text-decoration: none;
}
.violet {
  padding: 8px 14px;
  border-radius: 16px;
  color: rgba(255, 255, 255, 0.7);
  font-weight: 500;
  background-color: $violet;
}
.violet:hover {
  color: white;
  background-color: #5c35f9;
}
// круглая кнопка ссо трелкой
.round {
  display: block;
  width: 37px;
  height: 39px;
  border-radius: 50%;
  border: 1px solid white;
  position: relative;
}
.round:hover {
  border: 2px solid $lightgrey;
}

.icon {
  position: absolute;
  top: 11px;
  left: 16px;
}
// черная ссылка из боковой наигации
.black {
  font-size: 18px;
  font-weight: 700;
  color: $black;
  line-height: 22px;
  transition: 0.5s ease-in-out;
}
.black:hover {
  margin-left: 15px;
}
// желтая ссылка из боковой наигации
.yellow {
  font-size: 14px;
  font-weight: 400;
  color: #feb700;
  line-height: 8px;
  transition: 0.5s ease-in-out;
  line-height: 17px;
}
.yellow:hover {
  margin-left: 8px;
}
// желтая ссылка-кнопка из карточки квартиры
.lightYellow {
  background-color: rgba(255, 213, 79, 0.1);
  font-size: 14px;
  font-weight: 700;
  color: #fec100;
  line-height: 17px;
  transition: 0.5s ease-in-out;
  border-radius: 17px;
  padding: 10px 15px;
  width: fit-content;
  height: fit-content;
}
.lightYellow:hover {
  background-color: rgba(255, 213, 79, 0.2);
}
