.container {
  background-image: url("./../../../assets/images/Home3.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 407px;
  height: 270px;
  border-radius: 14px;
}

.mask {
  width: 100%;
  height: 100%;
  background-color: rgb(12%, 13%, 14%, 0.4);
  border-radius: 14px;
}
.wrapper {
  padding: 26px 40px;
  position: relative;
}
.wrapper * {
  text-decoration: none;
}
.header {
  margin-top: 5px;
  margin-bottom: 5px;
  text-decoration: none;
}
.link {
  position: absolute;
  bottom: -96px;
  right: 22px;
}
