.pageContainer {
  max-width: 1280px;
  margin: 0 auto;
}
.newsContainer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  margin-top: 59px;
}

.paginationContainer {
  margin-top: 80px;
  margin-bottom: 102px;
}
.crumbsContainer {
  margin-top: 39px;
  margin-bottom: 25px;
}
.noResults {
  height: 230px;
}
