@import "./../../../styles/_colors.scss";

.auth {
  width: 406px;
  margin: 0 auto;
  padding-top: 13%;
}

.authWrapper {
  text-align: center;
}

.text {
  line-height: 17px;
  color: $darkGrey;
  margin-bottom: 33px;
}

.inputWrapper {
  width: 100px;
}
