@import "./../../styles/_colors.scss";

.searchContainer {
  position: absolute;
  border-radius: 40px;
  padding-top: 55px;
  padding-left: 97px;
  background: linear-gradient(
    to right,
    rgba(148, 175, 255, 0.1),
    rgba(78, 100, 249, 0.1)
  );
  width: 850px;
  height: 1000px;
  max-height: 100%;
  z-index: 0;
  top: 132px;
  left: 638px;
}

.btnContainer {
  position: absolute;
  top: 55px;
  left: 674px;
}
