@import "styles/_colors.scss";

.card {
  width: 1260px;
  height: 300px;
  border-radius: 10px;
  background-color: white;
  display: grid;
  grid-template-columns: 540px auto;
  box-shadow: 0 20px 40px rgba(135, 124, 202, 0.15);
  z-index: 1;
  position: relative;
  padding-right: 20px;
}

.flatImg {
  width: 100%;
  max-width: 540px;
  max-height: 300px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #e0e0e0;
  border-radius: 10px;
  flex-shrink: 0;
  position: relative;
}

.flatImg img {
  max-height: 100%;
  min-width: 540px;
  object-fit: contain;
}
.flatContainer {
  width: 100%;
  height: 100%;
  margin: 9px 20px 20px 25px;
}
.headerRow {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.priceContainer {
  position: relative;
  margin-right: 28px;
  margin-top: 13px;
}

.price {
  color: $violet;
  line-height: 24px;
  font-size: 25px;
  font-weight: 700;
}

.period {
  color: #bdbdbd;
  line-height: 17px;
  position: absolute;
  top: 30px;
  right: 0;
}
.addressWrapper {
  display: flex;
  flex-direction: row;
  gap: 13px;
  margin-bottom: 15px;
}

.addressText {
  margin-top: -3px;
  font-size: 16px;
  font-weight: 500;
  line-height: 19px;
  color: black;
}
.locationIcon {
  color: $violet;
  margin-right: 5px;
}

.tagsRow {
  display: flex;
  flex-direction: row;
  gap: 17px;
  margin-bottom: 16px;
}

.icon {
  color: #686868;
  margin-right: 6px;
}

.description {
  width: 100%;
  color: #8291a3;
  font-size: 14px;
  line-height: 21px;
  margin-bottom: 12px;
}

.buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 12px 28px 0 4px;
  position: relative;
}

.phoneIcon {
  color: $violet;
  margin-right: 13px;
}
.heartIcon {
  margin-left: 10px;
}
.morebtns {
  display: flex;
  flex-direction: row;
  gap: 15px;
}
