@import "./../../styles/_colors.scss";

.card {
  width: 406px;
  height: 500px;
  border-radius: 10px;
  background-color: white;
  display: grid;
  grid-template-rows: 220px 200px auto;
}
.cardText {
  color: $grey;
  line-height: 17px;
}
.cardImg img {
  border-radius: 10px;
  width: 100%;
}
.cardTextContainer {
  padding: 20px;
}
.cardBtnContainer {
  padding: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
