.h1 {
  font-weight: 700;
  font-size: 30px;
}
.h2 {
  font-weight: 700;
  font-size: 25px;
}
.h3 {
  font-weight: 700;
  font-size: 16px;
}
.notFound {
  font-weight: 700;
  font-size: 60px;
  color: white;
  text-shadow: 0px 1px 5px 0px (rgba(0, 0, 0, 0.25));
}
